<md-whiteframe class="md-whiteframe-z1" style="background-color:#ffffff;">

  <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" >

    <md-tab label="Informacees" >
      <md-tab-label>

        <div flex layout="row" class="tab-div-label" layout-align="start start">
          <span flex class="tab-icon">
            1
          </span>
          <span flex>Informações</span>

        </div>

      </md-tab-label>
      <md-tab-body>
        <h1 class="md-display-2">Informações Pessoais</h1>

        <md-content class="md-padding  md-margin">
          <div>

            <div layout-gt-xs="row" flex-sm>
              <md-input-container class="md-block" flex-gt-sm="30" flex-sm="25">
                <label>Código</label>
                <input disabled>
              </md-input-container>
              <div flex></div>
              <md-input-container class="md-block" flex-gt-sm="40" flex-sm="40">
                <label>Pessoa</label>
                <md-select ng-model="ctrl.userState">
                  <md-option value="fisica">
                    Física
                  </md-option>
                  <md-option value="juridica">
                    Juridica
                  </md-option>
                </md-select>
                <div class="md-errors-spacer"></div>
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>Nome Completo</label>
                <input >
              </md-input-container>
            </div>

            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex>
                <label>Chamar por</label>
                <input>
              </md-input-container>
              <md-datepicker ng-model="user.submissionDate" md-placeholder="Nascimento"></md-datepicker>
            </div>

            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>CPF</label>
                <input >
              </md-input-container>
              <div flex="10"></div>
              <md-input-container class="md-block" flex>
                <label>RG</label>
                <input >
              </md-input-container>
            </div>

          </div>
        </md-content>

      </md-tab-body>
    </md-tab>

  </md-tabs>

  <md-divider></md-divider>

  <md-content class="footer" layout="row" layout-align="space-between center" layout-padding>
    <div>
      <md-button class="md-hue-1 md-primary" ng-click="prevTab()">
        <md-icon md-font-icon="material-icons">keyboard_arrow_left</md-icon>
        anterior
      </md-button>
    </div>
    <div></div>
    <div>
      <md-button class="md-hue-1 md-primary" ng-click="nextTab()">
        Próximo
        <md-icon md-font-icon="material-icons">keyboard_arrow_right</md-icon>
      </md-button>
    </div>
  </md-content> 

</md-whiteframe>
