<md-dialog aria-label="Novo Edereço" ng-cloak class="fullscreen-dialog">
  <form name="clienteContatoForm">
    {{contato}}
    <md-toolbar class="md-padding-lr md-hue-1 topo">
      <div class="md-toolbar-tools">
        <h2>Novo Contato</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon>
            <i class="material-icons">close</i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>

      <md-content class="md-content-form-dialog">

        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Nome Completo</label>
            <input ng-model="contato.dado.nome">
          </md-input-container>
          <span flex="5"></span>
          <md-input-container class="md-block" flex>
            <label>Chamar por</label>
            <input ng-model="contato.dado.apelido">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Empresa</label>
            <input ng-model="contato.dado.empresa">
          </md-input-container>
          <span flex="5"></span>
          <md-input-container class="md-block" flex>
            <label>Site</label>
            <input ng-model="contato.dado.site">
          </md-input-container>
          <span flex="5"></span>
          <md-input-container class="md-block" flex>
            <label>Profissão</label>
            <input ng-model="contato.dado.profissao">
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Email</label>
            <input ng-model="contato.dado.email">
          </md-input-container>
          <span flex="5"></span>
          <md-input-container class="md-block" flex>
            <label>De quem é?</label>
            <md-select ng-model="contato.dado.relacionamento">

              <md-option value="eu">Próprio</md-option>
              <md-option value="conjugue">Cônjugue</md-option>
              <md-option value="filho(a)">Filho(a)</md-option>
              <md-option value="mae">Mãe</md-option>
              <md-option value="pai">Pai</md-option>
              <md-option value="irmao(a)">Irmão(ã)</md-option>
              <md-option value="parente">Parente</md-option>
              <md-option value="amigo(a)">Amigo(a)</md-option>
              <md-option value="gerente">Gerente</md-option>
              <md-option value="assistente">Assistente</md-option>
              <md-option value="parceiro">Parceiro</md-option>

            </md-select>
          </md-input-container>
        </div>

        <div layout="row">

          <md-input-container class="md-block" flex>
            <label>Telefone</label>
            <md-select ng-model="contato.telefone.tipo">

              <md-option value="residencial" selected>Residencial</md-option>
              <md-option value="comercial">Comercial</md-option>
              <md-option value="outro">Outro</md-option>
              <md-option value="celular">Celular</md-option>
              <md-option value="principal">Principal</md-option>
              <md-option value="fax_residencial">Fax residencial</md-option>
              <md-option value="fax_comercial">Fax comercial</md-option>

            </md-select>
          </md-input-container>

          <span flex="5"></span>
          <md-input-container class="md-block" flex="10">
            <label>DDD</label>
            <input ng-model="contato.telefone.ddd">
          </md-input-container>
          <span flex="5"></span>
          <md-input-container class="md-block" flex>
            <label>Número</label>
            <input ng-model="contato.telefone.numero">
          </md-input-container>

          <md-button class="md-icon-button md-primary md-hue-1" aria-label="Inserir Telefone" ng-click="AddTelefone(contato.telefone)">
            <md-icon >
              <i class="material-icons">add_box</i>
            </md-icon>
            <md-tooltip>
              Inserir Telefone
            </md-tooltip>
          </md-button>

        </div>


        <md-list class="veggie-option" flex ng-if="telefones">
          <md-list-item class="md-2-line md-whiteframe-z1 veggie" ng-repeat="tel in telefones">
            <md-icon class="primary">
              <i class="material-icons">phone</i>
            </md-icon>
            <div class="md-list-item-text" layout="column">
              <h4>
                ({{tel.ddd}})
                {{tel.numero}}
              </h4>
              <p>
                {{tel.tipo}}
              </p>
            </div>
            <md-button class="md-secondary md-icon-button md-warn md-hue-1" ng-click="removeTelefone($index)" aria-label="call">
              <md-icon><i class="material-icons">remove_circle</i></md-icon>
            </md-button>
          </md-list-item>
        </md-list>

      </md-content>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="limparForm()">
        Limpar
      </md-button>
      <md-button ng-click="AddContato(contato)">
        Adicionar
      </md-button>
    </md-dialog-actions>

  </md-dialog>
