<form name="clienteForm">
  <md-content class="content-panel md-padding" layout="column">
    <md-card>
      <!-- <p>
        {{dados}}
      </p>
      <p>
        {{dadoEndereco}}
      </p>-->
      <!-- <p>
        {{dadoContato}}
      </p> -->

      <!-- INFORMAÇÕES PESSOAIS -->
      <md-toolbar class="md-padding-lr md-hue-1 topo">
        <div class="md-toolbar-tools">
          <h2>Informações Pessoais</h2>
          <span flex></span>
          <div class="md-block">
            <md-switch aria-label="Pessoa Jurídica">
              <span style="font-size:14px;">Empresa</span>
            </md-switch>
            <md-tooltip>
              Pessoa Jurídica
            </md-tooltip>
          </div>
        </div>
      </md-toolbar>

      <md-content class="md-content-form">

        <div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Nome Completo</label>
              <input ng-model="dados.nome" autofocus>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Chamar por</label>
              <input ng-model="dados.nometratamento">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>CPF</label>
              <input ng-model="dados.cpf">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>RG</label>
              <input ng-model="dados.rg">
            </md-input-container>
          </div>

          <div layout="row">

            <md-input-container class="md-block" flex>
              <label>Sexo</label>
              <md-select ng-model="dados.sexo">
                <md-option value="m">
                  Masculino
                </md-option>
                <md-option value="f">
                  Feminino
                </md-option>
              </md-select>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Estado Civil</label>
              <md-select ng-model="dados.estadocivil">
                <md-option value="solteiro">
                  Solteiro(a)
                </md-option>
                <md-option value="casado">
                  Casado(a)
                </md-option>
                <md-option value="divorciado">
                  Divorciado(a)
                </md-option>
                <md-option value="viuvo">
                  Viúvo(a)
                </md-option>
                <md-option value="separado">
                  Separado(a)
                </md-option>
              </md-select>
            </md-input-container>
            <div flex="5"></div>

            <sm-date-time-picker
                lable="Nascimento"
                value="dados.nascimento"
                flex="15"
                flex-sm="100"
                flex-xs="100"
                format="DD/MM/YYYY"
                mode="date"
                close-on-select="true">
            </sm-date-time-picker>


            <!-- <md-datepicker ng-model="dados.datanascimento" md-placeholder="Nascimento"></md-datepicker> -->
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Pai</label>
              <input ng-model="dados.pai">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Mãe</label>
              <input ng-model="dados.mae">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Escolaridade</label>
              <input ng-model="dados.escolaridade">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Profissão</label>
              <input ng-model="dados.profissao">
            </md-input-container>
          </div>

        </div>

        <!-- <div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Razão Social</label>
              <input ng-model="dados.razaosocial" autofocus>
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Nome Fantasia</label>
              <input ng-model="dados.fantasia">
            </md-input-container>
          </div>

          <div layout="row" class="md-margin-bottom">
            <md-input-container class="md-block" flex>
              <label>Contato Responsável</label>
              <input ng-model="dados.contatoresponsavel">
            </md-input-container>
            <div flex="5"></div>
            <md-datepicker ng-model="dados.datafundacao" md-placeholder="Funcação"></md-datepicker>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>CNPJ</label>
              <input ng-model="dados.cnpj">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Inscrição Estadual</label>
              <input ng-model="dados.inscestadual">
            </md-input-container>
            <div flex="5"></div>
            <md-input-container class="md-block" flex>
              <label>Inscrição Municipal</label>
              <input ng-model="dados.inscmunicipal">
            </md-input-container>
          </div>

        </div> -->

      </md-content>

      <!-- ENDEREÇO -->
      <md-toolbar class="md-padding-lr  md-hue-1">
        <div class="md-toolbar-tools">
          <h2>Endereços</h2>
          <span flex></span>
          <md-button class="md-fab md-mini" aria-label="Inserir Endereço" ng-click="showAddEnderecoDialog($event)" ng-disabled="dados.nome==''||dados.nome==undefined">
            <md-icon>
              <i class="material-icons">add</i>
            </md-icon>
            <md-tooltip>
              Inserir Endereço
            </md-tooltip>
          </md-button>
        </div>
      </md-toolbar>

      <md-content class="md-padding-tb">

        <onmt-div-info ng-if="!dadoEndereco.length" title="Lista de Endereço" message="Adicione pelo menos 1 endereço."></onmt-div-info>
        <!--  -->
        <md-list ng-cloak ng-if="dadoEndereco.length" md-theme="indigo">
          <md-list-item class="md-3-line" ng-click="showViewEnderecoDialog($event, $index)" ng-repeat="item in dadoEndereco">
            <md-icon class="primary md-primary md-hue-3">
              <i class="material-icons">location_on</i>
            </md-icon>
            <div class="md-list-item-text cap" layout="column">
              <h3>{{ item.tipoendereco}}</h3>
              <h4>
                {{ item.tipologradouro+' '+item.logradouro+', '+item.complemento+' '+item.numero}}
              </h4>
              <p>{{ item.localidade }}
                -
                {{item.uf}}</p>
            </div>
            <md-button class="md-secondary md-icon-button md-warn md-hue-3" ng-click="removeEndereco($index)" aria-label="call">
              <md-icon>
                <i class="material-icons">remove_circle</i>
              </md-icon>
            </md-button>
            <md-tooltip md-visible="false" md-delay="1000" md-direction="bottom" md-autohide="true">
              Clique para visualizar e/ou editar
            </md-tooltip>
          </md-list-item>
        </md-list>

      </md-content>

      <!--CONTATO -->
      <md-toolbar class="md-padding-lr  md-hue-1">
        <div class="md-toolbar-tools">
          <h2>Contatos</h2>
          <span flex></span>
          <md-button class="md-fab md-mini" aria-label="Inserir Contato" ng-click="showAddContatoDialog($event)" ng-disabled="dados.nome==''||dados.nome==undefined">
            <md-icon>
              <i class="material-icons">add</i>
            </md-icon>
            <md-tooltip>
              Inserir Contato
            </md-tooltip>
          </md-button>
        </div>
      </md-toolbar>

      <md-content class="md-padding-tb">

        <onmt-div-info ng-if="!dadoContato.length" title="Lista de Contato" message="Adicione pelo menos 1 contato."></onmt-div-info>
        <!--  -->
        <md-list ng-cloak ng-if="dadoContato.length" md-theme="indigo">
          <md-list-item class="md-3-line" ng-click="showViewContatoDialog($event, $index)" ng-repeat="item in dadoContato">
            <md-icon class="primary md-primary md-hue-3">
              <i class="material-icons">contact_phone</i>
            </md-icon>
            <div class="md-list-item-text" layout="column">
              <h3 class="cap">
                {{ item.dado.apelido==null||item.dado.apelido==""?item.dado.nome:item.dado.apelido}}
                -
                <b style="font-size:14px; text-transform: none;">{{item.dado.relacionamento}}</b>
              </h3>
              <h4 class="cap">
                ({{item.telefone[0].ddd}})
                {{item.telefone[0].numero}}
                -
                {{item.telefone[0].tipo}}
              </h4>
              <p>{{ item.dado.email }}</p>
            </div>
            <md-button class="md-secondary md-icon-button md-warn md-hue-3" ng-click="removeContato($index)" aria-label="call">
              <md-icon>
                <i class="material-icons">remove_circle</i>
              </md-icon>
            </md-button>
            <md-tooltip md-visible="false" md-delay="1000" md-direction="bottom" md-autohide="true">
              Clique para visualizar e/ou editar
            </md-tooltip>
          </md-list-item>
        </md-list>

      </md-content>

      <div class="md-actions md-padding-lr" layout="row" layout-align="center start">
        <md-button class="md-hue-3 md-raised">Cancelar</md-button>
        <span flex></span>
        <md-button class="md-accent md-hue-3 md-raised">Limpar</md-button>
        <md-button class="md-primary md-hue-2 md-raised">Enviar</md-button>
      </div>
    </md-card>
  </md-content>
</form>
