
<md-sidenav ng-class="{'md-sidenav-min': !sidenavMin}" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
 ng-mouseenter="sidenavMin=true;toggleLeft();" ng-mouseleave="sidenavMin=false;toggleLeft();">
 <!-- md-is-locked-open="true"-->
  <md-toolbar class="md-theme-indigo">
    <div layout="row" class="side-nav-md-head" layout-padding>
      <div flex="20" class="side-nav-md-logo"  ng-class="{'md-sidenav-min-logo': sidenavMin}">
        <img ng-src="style/img/onmtApp/logo.png" class="side-nav-md-logo"  />
      </div>
      <div flex="auto" ng-show="sidenavMin" class="side-nav-md-name-app">
        <span>ORNAMENTUM</span>
      </div>
    </div>
  </md-toolbar>

  <md-content>

    <div class="side-nav-md-perfil" layout-padding ng-show="sidenavMin">
      <div layout="column">
        <div flex>
          <img ng-src="style/img/perfil/johnny.jpg" class="side-nav-md-avatar"/>
        </div>
        <div flex class="side-nav-md-perfil-name">Johnny Lima</div>
        <div flex class="side-nav-md-perfil-email md-body-1">rickbatera2012@gmail.com</div>
      </div>
    </div>
    <md-list ng-cloak ng-class="{active:sidenavMin}" class="menu-link">

      <onmt-toogle-menu-pai>

        <md-subheader ng-show="sidenavMin" class="md-no-sticky subheader">Menu</md-subheader>

        <onmt-toogle-menu-filho side="sidenavMin" icone="settings_input_svideo" link="Dashboard" filhos="['Note', 'Todo', 'Inbox']" filhosview=true></onmt-toogle-menu-filho>

        <onmt-toogle-menu-filho side="sidenavMin" icone="add_box" link="Menu"></onmt-toogle-menu-filho>


        <md-subheader ng-show="sidenavMin" class="md-no-sticky subheader">Outros</md-subheader>

        <onmt-toogle-menu-filho side="sidenavMin" icone="face" link="Usuários" filhos="['Listar', 'Alterar Senha']" filhosview=false></onmt-toogle-menu-filho>

        <onmt-toogle-menu-filho side="sidenavMin" icone="people" link="Clientes" filhos="['Listar', 'Cadastrar', 'Manter']" filhosview=true></onmt-toogle-menu-filho>

        <onmt-toogle-menu-filho side="sidenavMin" icone="shopping_cart" link="Produtos" filhos="['Listar', 'Cadastrar']" filhosview=true></onmt-toogle-menu-filho>

      </onmt-toogle-menu-pai>

    </md-list>
  </md-content>

</md-sidenav>
