<!DOCTYPE html>
<html>
  <head>
    <title>ORNAMENTUM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importação da folha de estilo principal -->
    <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="style/material-icons/material-icons.css">
    <!-- Importação da folha de estilo secundário e personalizados -->
    <link rel="stylesheet" type="text/css" href="style/onmtApp.css">

  </head>
  <body ng-app="ornamentumApp" class="app" ng-cloak>

    <div ng-controller="sideNavCtrl" layout="column" style="height:100%;" ng-cloak>
      <section layout="row" flex>

        <!-- ONMT SIDENAV MENU -->
        <onmt-sidenav-menu></onmt-sidenav-menu>
        <!-- ONMT SIDENAV MENU -->

        <md-content class="corpo">

          <md-toolbar class="md-theme-indigo toolbar-corpo">
            <div layout="row" class="side-nav-md-head" layout-padding>
              <div flex="auto" class="side-nav-md-name-app">
                <span>Ornamentum</span>
              </div>
            </div>
          </md-toolbar>

          <md-content class="md-padding content-index" layout="row" layout-align="start center">
            <div layout="column" flex="70" layout-padding>

              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Informações Pessoais</span>
                    <!-- <span class="md-subhead">Large</span> -->
                  </md-card-title-text>
                </md-card-title>

                <md-card-content >
                  <div>
                    <form name="userForm">

                      <div layout="row">
                        <md-input-container class="md-block" flex="15">
                          <label>Código</label>
                          <input disabled>
                        </md-input-container>
                        <div flex></div>
                        <md-input-container class="md-block" flex="30">
                          <label>Pessoa</label>
                          <md-select ng-model="ctrl.userState">
                            <md-option value="fisica">
                              Física
                            </md-option>
                            <md-option value="juridica">
                              Juridica
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </div>

                      <div layout="row">
                        <md-input-container class="md-block" flex>
                          <label>Nome Completo</label>
                          <input >
                        </md-input-container>
                      </div>

                      <div layout="row">
                        <md-input-container class="md-block" flex>
                          <label>Sobrenome</label>
                          <input>
                        </md-input-container>
                        <md-datepicker ng-model="user.submissionDate" md-placeholder="Nascimento"></md-datepicker>
                      </div>

                    </form>
                  </div>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                  <md-button>Action 1</md-button>
                  <md-button>Action 2</md-button>
                </md-card-actions>
              </md-card>

            </div>
          </md-content>

        </md-content 'CORPO'>

      </section>
    </div>

    <!-----------------------  CARREGAMENTO DE SCRIPT'S  ----------------------- -->
    <!-- Importação dos scripts principais -->
    <script src="lib/angular/angular.min.js"></script>
    <!-- Grupo de importações correnpondente ao ANGULAR-MATERIAL -->
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-aria/angular-aria.min.js"></script>
    <script src="lib/angular-material/angular-material.min.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <!-- Grupo de importações correnpondente ao ANGULAR-MATERIAL -->

    <!--Importação do app.js <nomeando o app>-->
    <script src="script/app.js"></script>
    <!--Importação das Controllers-->
    <script src="script/controllers/sideNavCtrl.js" charset="utf-8"></script>
    <!--Importação das Diretivas-->
    <script src="script/directives/onmtSidenavMenuDirective.js" charset="utf-8"></script>
    <script src="script/directives/onmtToogleMenuDirective.js" charset="utf-8"></script>

  </script>
  <!-- ----------------------------------------------------------------------- -->

</body>
</html
